__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/

drone/flight_sessions/

wearable/biometric_sessions/

vision/training/trainer/datasets/*
!vision/training/trainer/datasets/data.yaml.esempio
vision/training/dataset_prep/*/dataset/
vision/training/dataset_prep/*/converted/
vision/training/dataset_prep/*/split/
vision/training/dataset_prep/*/dataset_rinumerato/

vision/training/trainer/models/

yolo*.pt
